.info {
  font-family: monospace;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  background: #eee;
  padding: 2px;
  height: 20px;
  left: 0;
  right: 0;
}

.info label {
  font-weight: bold;
}